@model BarterEvolution.Infrastructure.Prorrogas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Prorrogas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicioProrroga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicioProrroga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimientoProrroga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimientoProrroga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MesesAPagar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MesesAPagar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorMes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorMes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasVencidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasVencidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoContratoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoContratoNavigation.NoContrato)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NoProrroga">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
