@model IEnumerable<BarterEvolution.Infrastructure.Inventario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdArticuloNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCondicionArticuloNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoArticuloNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdArticuloNavigation.IdArticulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.IdCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCondicionArticuloNavigation.IdCondicionArticulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoArticuloNavigation.IdEstadoArticulo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInventario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdInventario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInventario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
