@model BarterEvolution.Infrastructure.Contratos

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Contratos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlazoEstipulado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlazoEstipulado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaClienteNavigation.Apellidocliente1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaUsuarioNavigation.Apellidousuario1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdArticuloNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdArticuloNavigation.IdArticulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCondicionContratoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCondicionContratoNavigation.IdCondicionContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoProrrogaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoProrrogaNavigation.NoProrroga)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NoContrato">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
