@model IEnumerable<BarterEvolution.Infrastructure.Articulos>

@{ ViewData["Title"] = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1 class="titulolista">Lista Artículos</h1>
<div class="row margen justify-content-end">

    <div class="col-3 align-content-end">
        <a class="btncrear" asp-action="Create">Registrar Artículo</a>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="table100">
            <table>
                <thead>
                    <tr class="table100-head">
                        <th class="column1">

                        </th>
                        <th class="column1">
                            No Artículo.
                        </th>
                        <th class="column2">
                            Nombre
                        </th>
                        <th class="column3">
                            Serie
                        </th>
                        <th class="column4">
                            Modelo
                        </th>
                        <th class="column5">
                            Marca
                        </th>
                        <th class="column6">
                            Precio 
                        </th>
                        <th class="column1">
                            Descripción
                        </th>
                        <th class="column1">
                            Categoria
                        </th>
                        <th class="column1">
                            Estado
                        </th>


                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
        <tr>
            <td class="column1">

                <a class="btnver" asp-action="Details" asp-route-id="@item.IdArticulo">Consultar</a>

            </td>
            <td class="column1">
                @Html.DisplayFor(modelItem => item.IdArticulo)
            </td>
            <td class="column2">
                @Html.DisplayFor(modelItem => item.NombreArticulo)
            </td>

            <td class="column3">
                @Html.DisplayFor(modelItem => item.Serie)
            </td>
            <td class="column4">
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td class="column5">
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td class="column6">
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td class="column1">
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td class="column1">
                @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.IdCategoria)
            </td>
            <td class="column1">
                @Html.DisplayFor(modelItem => item.IdEstadoArticuloNavigation.IdEstadoArticulo)
            </td>

        </tr>}
                </tbody>
            </table>
        </div>
    </div>
</div>