@model IEnumerable<BarterEvolution.Infrastructure.Articulos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreArticulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeneroNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoArticuloNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreArticulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneroNavigation.IdGenero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.IdCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoArticuloNavigation.IdEstadoArticulo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdArticulo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdArticulo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdArticulo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
