@model IEnumerable<BarterEvolution.Infrastructure.LegalidadArticulos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaLegalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionLegalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CondLegalidadNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdArticuloNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaLegalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionLegalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaClienteNavigation.Apellidocliente1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CondLegalidadNavigation.CondicionLegalidad1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdArticuloNavigation.IdArticulo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLegalidad">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLegalidad">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLegalidad">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
